# Ignore Python cache and temporary files
__pycache__/
**/__pycache__/
# (ChatGpt says it can math subdirectories,does the same as **/__pycache__/)

# specific file types
*.pyc
*.log
*.bak
*.pkl
*.csv
*.png

# unnecessary config floders
.vscode/
.cursor/
.qoder/
.windsurf/
.trae/

# unnecessary message floders
test/
UVExtenIntro/
prompt/
/Others/

# unnecessary but may not exist floders
readme/
datas/
results/

# LIBS
LIBS_data/
LIBS_results/

# spec-kit
.specify/
commands-zh/
FeatureCatalog/


# necessary code blocks
# !ProcessCenter.py
# !config/
# !tools/
# !utils/
# !DataModels/

# necessary spec-kit documents
# !SpecMd/